pandas==1.4.1
numpy==1.22.2
matplotlib==3.5.1
osmread==0.2
scikit-learn==1.0.2
networkx==2.6.3
PyYAML==6.0
torch==1.11.0
torch-scatter==2.0.9
torch-sparse==0.6.13
torch-cluster==1.6.0
torch-geometric==2.0.4
jupyterlab==3.2.9
tqdm==4.62.3
